<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>634050576142-5tekc4vpn92goj8u52dbdm714u3q8j4s.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.634050576142-5tekc4vpn92goj8u52dbdm714u3q8j4s</string>
	<key>API_KEY</key>
	<string>AIzaSyAL1L_Omv-TV5kzIHYVpN4qVQE5cCmplTA</string>
	<key>GCM_SENDER_ID</key>
	<string>634050576142</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.ninjaBrewCrew</string>
	<key>PROJECT_ID</key>
	<string>ninja-brew-crew-420f4</string>
	<key>STORAGE_BUCKET</key>
	<string>ninja-brew-crew-420f4.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:634050576142:ios:ef06fc89e6046d92c1615f</string>
</dict>
</plist>